@charset "UTF-8";

body{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.btn-tradicional , .btn-tradicional:hover , .header-tradicional{
    background-color: #DF813B;
    color: black;
    font-size: 1.5em;
    font-weight: 500;
}

.btn-premium , .btn-premium:hover , .header-premium{
    background-color: #451D13;
    color: whitesmoke;
    font-size: 1.5em;
    font-weight: 500;
}

.btn-gourmet , .btn-gourmet:hover , .header-gourmet{
    background-color: #B46546;
    color: whitesmoke;
    font-size: 1.5em;
    font-weight: 500;
}

.botao-cadastar-home , .botao-cadastar-home:hover{
    background-color: var(--corNova4);
    color: whitesmoke;
    font-size: 1.4em;
    font-weight: 400;

    margin-top: 15px;
    width: 100%;
}

.card-title {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem; /* Aumente o valor conforme necessário */
}

/* MEDIA QUERIES */

@media (max-width: 767px) {
    body {
        color: whitesmoke;
    }
    .sessao{
        margin-top: 0px;
        padding-top: 30px;
        padding-bottom: 15px;
    }
}

@media (min-width: 768px) {
    body{
        color: whitesmoke;
    }
    .sessao{
        min-height: 100vh;
        display: flex;
        align-items: center;
    }
    .sessao_produtos{
        padding-top: 30px;
    }
}

@media (min-width: 992px) {
    .card-img-top{
        max-height: 250px;
        max-width: 280px;
    }
    .sessao_produtos .card{
        max-width: 280px;
        margin: auto;
    }
    
}

@media (min-width: 1600px){
    .textoBemVindo{
        font-size: 1.2em;
        font-weight: 600;
    }
    .textoSobreNos{
        font-size: 1.2em;
        font-weight: 600;
    }
}

.sessao_bemVindo{
    /* background-image: linear-gradient(90deg , var(--corNova2) , var(--corNova3)); */
    background-image: url(../imagens/pagina-principal/imagem-fundo-2.jpg);
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    text-align: justify;
}
.sessao_sobreNos{
    background-image: url(../imagens/pagina-principal/imagem-fundo-3.jpg);
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    text-align: justify;
}
.sessao_produtos{
    background-image: url(../imagens/pagina-principal/imagem-fundo-1.jpg);
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
}
.sessao_planos{
    background-image: url(../imagens/pagina-principal/imagem-fundo-4.jpg);
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
} 

/* CARDS */

