@charset "UTF-8";

main {
    max-width: 900px;
    margin: auto;
}

input.form-control.text-center {
    max-width: 200px;
}

body{
    background-image: linear-gradient(90deg , var(--cor2) , var(--cor4));
}

.nome-quantidade-carrinho{
    display: flex;
    flex-direction: column;
}

.preco-botao-carrinho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    padding: 0px;
}

@media (max-width:524px){
    .item-carrinho{
        background-color: white;
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .nome-quantidade-carrinho{
        margin: auto;
    }
    .preco-botao-carrinho{
        margin-top: 15px;
        width: 100%;
        justify-content: space-between;
    }
}

@media (min-width:525px){
    .item-carrinho{
        background-color: white;
        padding: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
