@charset "UTF-8";

/* ---------- VARIÁVEIS CSS E FONTES ---------- */

:root {
    /* CORES */
    --cor1: whitesmoke;
    --cor2: #D98A29;
    --cor3: #8C5230;
    --cor4: #BF8563;
    --cor5: #401201;
    --cor6: #000000;

    --corNova1:#FFF5CF;
    --corNova2:#DBCDAD;
    --corNova3:#B39C7D;
    --corNova4: #806854;
    --corNova5:#A8BAA9;


    /* FONTES */
    --fonte1: 'Jost', sans-serif;
}

@font-face {
    font-family: 'Jost';
    src: url(../fontes/Jost-VariableFont_wght.ttf) format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

/* ---------- CONFIGURAÇÕES GLOBAIS ---------- */
* {
    font-family: var(--fonte1);
}

/* ---------- CONFIGURAÇÕES DO HEADER ---------- */
header {
    background-color: black;
}

/* COR DO TEXTO */
.custom-navbar .navbar-nav .nav-link {
    color: whitesmoke;
    /* Define a cor do texto para branco */
}
/* COR DA LOGO */
.custom-navbar .navbar-brand {
    color: whitesmoke;
    /* Define a cor do texto do logotipo para branco */
}
/* COR DO ÍCONE DE MENU */
.custom-navbar .navbar-toggler-icon {
    filter: invert(1);
    /* Inverte as cores do ícone */
}
/* TIRANDO A BORDA DO ÍCONE DE MENU */
.custom-navbar .navbar-toggler {
    background-color: transparent;
    /* Define o fundo do botão como transparente */
    border: none;
    /* Remove a borda do botão */
    outline: none;
    /* Remove o contorno do botão ao ser clicado */
    box-shadow: none;
    /* Remove qualquer sombra do botão */
}

@media (min-width: 992px) {
    .navbar-nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .links-navbar{
        display: flex;
    }    
}


/* ---------- CONFIGURAMÇÕES DA MAIN ---------- */

main{
    min-height: 95vh;
}

/* ---------- CONFIGURAÇÕES DO FOOTER ---------- */

footer {
    background-color: black; 
    color: whitesmoke;
}

footer .btn {
    color: whitesmoke;
}

.botao-verde , .botao-verde:hover{
    background-color: darkgreen;
    color: whitesmoke;
}
.botao-azul , .botao-azul:hover{
    background-color: darkblue;
    color: whitesmoke;
}
.botao-vermelho , .botao-vermelho:hover{
    background-color: darkred;
    color: whitesmoke;
}
